* {
	margin: 0;
	padding: 0;
}

body {
	padding: 5px;
	font-family: Courier New;
}

#topic {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0.3em;
	max-height: 1.2em;
	overflow: scroll;
	background: black;
	color: white;
}

ul {
	padding-top: 1.8em;
}

username:before {
	content: "<";
}

username:after {
	content: ">";
}

.thumb {
	max-width: 100px;
	height: auto;
}

li:nth-child(odd) {
	background: #f4f4f4;
}